:root {
	--color-base-1: #001111;
	--color-button-normalDims: #113311;
	--color-button-upgrades: #333333;
	--color-button-upgrades-bougth: #999999;
	--color-progressBar-1:#777777/*rgba(135,134,149,1)*/;
	--color-progressBar-2:#111111/*rgba(0,0,0,1)*/;
	--color-button-upgrades-complete:darkgoldenrod;
}

* {
	padding:0;
	margin:0;
	color:white;
}

body {
	background-color: var(--color-base-1);
	text-align: center;
	padding-top: 16px;
	display: grid;
	min-height: calc(100vh - 120px);
	grid-gap: 1%;
	grid-template-columns: 24% 48% 24%;
	grid-template-rows: 1fr 0;
	grid-template-areas: 
		'a b c'
		'd d d';
}

.sideNav {
	width: 32px;
	height: 32px;
	margin: 0 calc(25% - 40px) 0 8px;
	display: block;
	float: left;
	text-align: initial;
	padding:0;
	overflow:hidden;
	transition: 0.4s;
	grid-area: a;
}

.game {
	width: 100%;
	min-width: 300px;
	display: block;
	grid-area: b;
}

footer {
	width: -webkit-fill-available;
	padding: 16px;
	grid-area:d;
	bottom:0;
}

button	{
	cursor: pointer;
	padding:4px;
	background-color:black;
	border:white 1px solid;
	min-width:16%;
	border-radius:4px;
	clear:both;
	display:block;
	margin:8px auto;
}

.prog00pct {
	background:--color-progressBar-2;
}	
.prog10pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 10%, var(--color-progressBar-2) 10%, var(--color-progressBar-2) 100%) !important;
}	
.prog20pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 20%, var(--color-progressBar-2) 20%, var(--color-progressBar-2) 100%) !important;
}	
.prog30pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 30%, var(--color-progressBar-2) 30%, var(--color-progressBar-2) 100%) !important;
}	
.prog40pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 40%, var(--color-progressBar-2) 40%, var(--color-progressBar-2) 100%) !important;
}	
.prog50pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 50%, var(--color-progressBar-2) 50%, var(--color-progressBar-2) 100%) !important;
}	
.prog60pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 60%, var(--color-progressBar-2) 60%, var(--color-progressBar-2) 100%) !important;
}	
.prog70pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 70%, var(--color-progressBar-2) 70%, var(--color-progressBar-2) 100%) !important;
}	
.prog80pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 80%, var(--color-progressBar-2) 80%, var(--color-progressBar-2) 100%) !important;
}	
.prog90pct {
	background:linear-gradient(90deg, var(--color-progressBar-1) 0%, var(--color-progressBar-1) 90%, var(--color-progressBar-2) 90%, var(--color-progressBar-2) 100%) !important;
}	
	
.button:hover {
	background-color:white;
	color:black;
}

h1,h3,h6 {
	margin:4px;
}

.progressBar {
	background-color:blue !important;
	color:red;
	width:50%;
}

.menuIcon {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border: 2px white solid;
	min-width: 32px !important;
	height: 32px;
	margin: 0;
}

.menuIcon:active {
	border: 0;
}

.bar1, .bar2, .bar3 {
	width: 90%;
	height: 2px;
	background-color: #FFF;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 3px;
	margin: 3px auto;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-20%, 3px);
	transform: rotate(-45deg) translate(-3px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-20%, -4px);
	transform: rotate(45deg) translate(-4px, -4px);
}

.change.sideNav {
	width: 100%;
	height: fit-content;
	display: block;
	float: left;
	text-align: initial;
	padding:0;
	margin:0 0 0 8px;
}

.sideNav #menu button {
	width:100%;
	height:32px;
}
	
ul {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

button.disabled {
	pointer-events:none;
}

.g-signin2 div {
	background:black;
	text-align:center;
/*	color: white !important;
	text-decoration-color: white;
}
.g-signin2 span {
	color: white !important;
	text-decoration-color: white;*/
}

.upgradeButton {
	width: 48%;
	float: left;
	display: block;
	margin: 1% 1% !important;
	clear: right;
	background-color: var(--color-button-upgrades);
}

#gameTime {
/*	float: left;
	display: block;
	clear: both;
	width: 100%;*/
}

#upgradeList {
	display:flex;
	flex-wrap: wrap;
}

#menu {
}

.upgradeComplete {
	background-color: var(--color-button-upgrades-complete);
}

.atomButton {
	height:3em;
	width:9em;
}

.game .makerButton {
	width:96%;
	content-align:center;
}

.game .makerButton div {
	display: block;
	float:left;
}