* {
	padding:0;
	margin:0;
	color:white;
}

body {
	background-color:black;
	text-align:center;
	padding-top:16px;
}

.game {
	width:50%;
	min-width:300px;
	display:block;
	float:left;
}
	
button	{
	padding:4px;
	background-color:black;
	border:white 1px solid;
	min-width:16%;
	border-radius:4px;
	clear:both;
	display:block;
	margin:8px auto;
}

button[class$="10%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 10%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="20%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 20%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="30%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 30%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="40%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 40%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="50%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="60%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 60%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="70%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 70%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="80%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 80%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="90%"] {
	background:linear-gradient(90deg, rgba(135,134,149,1) 0%, rgba(135,134,149,1) 90%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%) !important;
}	
button[class$="00%"] {
	background:black !important;
}	
	
.button:hover {
	background-color:white;
	color:black;
}

h1,h3,h6 {
	margin:4px;
}

.progressBar {
	background-color:blue !important;
	color:red;
	width:50%;
}

footer {
	bottom: 0;
	width: -webkit-fill-available;
	padding: 16px;
	position:absolute;
	text-align:center;
}

.menuIcon {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border: 2px white solid;
	min-width: 32px !important;
	height: 32px;
	margin: 0;
}

.bar1, .bar2, .bar3 {
	width: 90%;
	height: 2px;
	background-color: #FFF;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 3px;
	margin: 3px auto;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-20%, 3px);
	transform: rotate(-45deg) translate(-3px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-20%, -4px);
	transform: rotate(45deg) translate(-4px, -4px);
}

.sideNav {
	width: 32px;
	height: 32px;
	margin: 0 calc(25% - 40px) 0 8px;
	background: grey;
	display: block;
	float: left;
	text-align: initial;
	padding:0;
	transition: 0.4s;
}

.change.sideNav {
	width: calc(25% - 8px);
	height: 100px;
	background: grey;
	display: block;
	float: left;
	text-align: initial;
	padding:0;
	margin:0 0 0 8px;
}
	
